[submodule "mythtv-backend"]
	path = mythtv-backend
	url = https://salsa.debian.org/jgoerzen/docker-mythtv-backend.git
	branch = .
[submodule "mythtv-backend-mysql"]
	path = mythtv-backend-mysql
	url = https://salsa.debian.org/jgoerzen/docker-mythtv-backend-mysql.git
	branch = .
